.lesson-page-container {
  height: 100vh;
  width: 100vw;
  padding-top: 8rem;

  & .all-cards-container {
    display: flex;
    flex-direction: row;
  }

  & .title-icon-contaianer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;

    & .title {
      font-size: 24px;
    }

    & .icon {
      font-size: 20px;
      cursor: pointer;
    }

    & .radio-input {
      color: white;
    }
  }

  & .button {
    border-radius: 5px;
    padding: 4px 10px;
    color: black;
    background-color: hsla(160, 100%, 37%, 1);
    border: 2px solid #1d5236;
    cursor: pointer;
    width: 100%;
    font-weight: 600;
    height: 40px;
    margin-block: 10px;
  }
}
