.home-page-container {
  height: 100vh;
  width: 100vw;
  padding-top: 6rem;
  display: flex;
  justify-content: center;
  flex-direction: column;

  & .sub-text {
    text-align: center;
    font-size: 22px;
    letter-spacing: 3px;
    word-spacing: 5px;
    z-index: 10;
  }

  & .title {
    font-size: clamp(48px, 11vw, 160px);
    font-weight: 900;
    color: #ffffff;
    margin-bottom: 1.5rem;
    line-height: 1.1;
    letter-spacing: 3px;
    text-align: center;
    z-index: 10;
  }

  & .accent {
    color: hsla(160, 100%, 37%, 1);
    font-weight: 900;
  }

  & .info-container {
    display: flex;
    flex-direction: row;
    height: 38%;
    width: 100%;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-block: 0 80px;

    & .info-left,
    .info-right {
      height: 100%;
      width: 41%;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.75);
      z-index: 2;
    }
  }

  & .logo {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    height: 80%;
    fill: #1d523685;
    filter: blur(6px);
  }

  & .carousel-title-container {
    display: flex;
    flex-direction: column;

    & .title {
      font-weight: 600;
      font-size: 24px;
      color: white;
      text-align: start;
      padding-left: 2.5vw;
    }

    & .carousel {
      margin: 10px auto;
      width: 95%;
      display: flex;
      flex-direction: row;
      overflow: auto;
      background-color: rgba(18, 18, 18, 0.191);
      margin-bottom: 55px;
      /* backdrop-filter: blur(1px); */

      & .group {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding-right: 10px;
        animation: spin 60s infinite linear;

        & .lesson-preview {
          flex: 0 0 30px;
          height: 120px;
          min-width: 190px;
          padding: 10px;
          border-radius: 5px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          /* border: 2px solid black;
          background-color: black; */

          & .icon {
            font-size: 44px;
          }

          & p {
            color: white;
            font-size: 20px;
          }
        }
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

@keyframes spin {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}
