.lesson-page-container {
  height: 100vh;
  width: 100vw;
  padding-top: 8rem;
  padding-inline: 20px;

  & .all-cards-container {
    display: flex;
    flex-direction: row;
  }

  & .title-icon-contaianer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    margin-left: 20px;

    & .title {
      font-size: 28px;
      color: white;
      font-weight: 600;
    }

    & .icon {
      font-size: 20px;
      cursor: pointer;
    }

    & .radio-input {
      color: white;
    }

    & .filter-container {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;

      & .filter-inputs-container {
        display: flex;
        gap: 10px;
        width: auto;
        height: 30px;
        border: 1px solid hsla(160, 100%, 37%, 1);
        border-radius: 10px;
        transition: all 0.5s ease;

        &.open {
          border: 1px solid white;
          padding: 2px 15px;
          border-radius: 10px;
          align-items: center;
          width: 280px;
          transition: all 0.5s ease;

          & .filter-input {
            & input {
              &:checked + label {
                color: hsla(160, 100%, 37%, 1);
              }

              &:checed:hover {
                color: white;
              }
            }
            & label:hover {
              color: white;
              transition: all 0.2s ease;
            }
          }
        }

        & .filter-input {
          /* display: none; */

          &.selected {
            padding: 2px 10px;
            display: flex !important;
            gap: 8px;
          }

          & input {
            display: none;
            opacity: 1;
            visibility: visible;

            &:checked + label {
              color: white;
            }
          }
          & label {
            cursor: pointer;
          }
        }
      }
    }
  }
}

.hidden {
  display: none !important;
}
