.chat-card-container {
  height: 320px;
  width: 230px;
  display: flex;
  flex-direction: column;
  border: 2px solid #1d5236;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 3px 10px 0px #0000008c;
  margin: 20px;
  background-color: #121212;

  & .image-container {
    position: relative;
    height: 60%;
    width: 100%;
    top: 0;
    object-fit: fill;

    & .circle-svg {
      position: absolute;
      top: -68px;
      left: -47px;
      z-index: 9;
    }

    & .logo-container {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      & svg {
        top: 0;
        left: 0;
        height: 75%;
        fill: white;
        z-index: 5;
      }
    }

    & .book-icon {
      position: absolute;
      right: 11px;
      top: 14px;
      font-size: 32px;
      color: white;
      z-index: 10;
    }

    & .image {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }

  & .text-container {
    position: relative;
    width: 100%;
    height: 40%;
    padding: 5px;

    & .title {
      padding: 10px;
      font-size: 14px;
      color: #fff;
      padding-left: 6px;
    }

    & .chats-button {
      background-color: transparent;
      border: none;
      padding: 8px;
      font-size: 14px;
      color: #fff;
      padding-left: 6px;
      cursor: pointer;
    }

    & .description-text {
      line-height: 16px;
    }
  }

  &.search {
    height: 70px;
    width: 280px;
    flex-direction: row;
    box-shadow: none;
    margin: 0px 0px 10px 0px;

    & .image-container {
      height: 100%;
      width: 55%;

      & .book-icon {
        left: 8px;
        top: 3px;
        font-size: 18px;
        z-index: 21;
      }
    }
  }
}
