.card-container {
  height: 320px;
  width: 230px;
  display: flex;
  flex-direction: column;
  border: 2px solid #1d5236;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 3px 10px 0px #0000008c;
  margin: 20px;
  background-color: #121212;

  & .image-container {
    position: relative;
    height: 60%;
    width: 100%;
    top: 0;
    object-fit: fill;

    & svg {
      position: absolute;
      top: -30px;
      right: -30px;
      z-index: 2;
    }

    & .book-icon {
      position: absolute;
      right: 11px;
      top: 14px;
      font-size: 32px;
      color: white;
      z-index: 3;
    }

    & .image {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }

  & .text-container {
    position: relative;
    width: 100%;
    height: 40%;
    padding: 5px;

    & .title {
      font-size: 18px;
      color: #fff;
      padding-left: 6px;
    }

    & .spaces-display-container {
      padding: 5px;
      height: 39px;
      background-color: #202020;
      border-radius: 5px;
      margin-bottom: 9px;
    }

    & .icon-p-container {
      display: flex;
      flex-direction: row;
      gap: 5px;
      margin-block: 5px;
      font-size: 13px;
      align-items: center;
      padding-left: 6px;

      &#space-bar {
        justify-content: space-between;
        padding-left: 0px;
      }
    }

    & .bar-container {
      background-color: black;
      & .bar {
        background-color: #1d5236;
        height: 5px;
        border-radius: 2px;
        margin-top: 10px;
        z-index: 2;
      }
    }

    & .description-text {
      line-height: 16px;

      &#spaces {
        line-height: 6px;
        font-size: 14px;
        padding-left: 0;
      }
    }

    & .buttons-container {
      position: absolute;
      bottom: 10px;
      right: 12px;
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 4px;
      border-radius: 10%;
      overflow: hidden;
      border: 1px solid white;
      interpolate-size: allow-keywords;
      width: 65px;
      transition: width 0.2s ease;
      height: 28px;

      & .amount-text {
        font-size: 12px;
        height: 20.5px;
      }

      & .minus-button {
        height: 30px;
        width: 30px;
        border-radius: 20%;
        cursor: pointer;
        background-color: transparent;
        border: none;
        color: white;
        transform: translateY(-1px);

        &.icon {
          font-size: 11px;
        }
      }

      & .add-button {
        height: 30px;
        width: 30px;
        cursor: pointer;
        background-color: transparent;
        border: none;
        color: white;

        &.disabled {
          color: darkgray;
          cursor: not-allowed;
        }
      }

      & .hidden {
        /* visibility: hidden;
                opacity: 0;
                width: 0px;
                margin: 0px;
                padding: 0px;
                transition: all 0.2s ease; */
        display: none;
      }

      & .icon {
        font-size: 11px;
        color: white;
      }

      &.compact {
        width: 28px;
        border-radius: 20%;
        transition: width 0.2s ease;
      }
    }
  }

  &:hover {
    scale: 1.02;
    transition: all 0.2s ease;
    box-shadow: 4px 6px 10px 0px #0000008c;
  }

  &.search {
    height: 100px;
    width: 280px;
    flex-direction: row;
    box-shadow: none;
    margin: 0px 0px 10px 0px;

    & .image-container {
      height: 100%;
      width: 55%;

      & svg {
        top: -68px;
        left: -47px;
        z-index: 20;
      }

      & .book-icon {
        left: 8px;
        top: 3px;
        font-size: 18px;
        z-index: 21;
      }
    }

    & .text-container {
      height: 100%;

      & .search {
        display: grid;
        grid-template-columns: 1fr 4fr;
      }

      & .buttons-container {
        height: 23px;
        width: 60px;

        & .minus-button {
          height: 30px;
          width: 30px;
          border-radius: 20%;
          cursor: pointer;
          background-color: transparent;
          border: none;
          color: white;
          transform: translateY(-1px);

          & .icon {
            font-size: 9px;
            transform: translateY(-0.5px);
          }
        }

        &.compact {
          width: 23px;
        }
      }
    }

    &:hover {
      scale: 1;
      box-shadow: none;
    }
  }
}
