.form {
  & .button {
    border-radius: 5px;
    padding: 4px 10px;
    color: #1d5236;
    border: 2px solid #1d5236;
    cursor: pointer;
    max-height: 30px;
  }

  & .hidden {
    display: none;
  }
}

.button {
  border-radius: 5px;
  padding: 4px 10px;
  color: #1d5236;
  border: 2px solid #1d5236;
  cursor: pointer;
  max-height: 30px;
}
