.form {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  background-color: #121212;

  & input {
    border: 1px solid rgb(55 65 81);
    max-width: 20px;
  }

  & .button {
    border-radius: 5px;
    padding: 4px 10px;
    color: #1d5236;
    border: 2px solid #1d5236;
    cursor: pointer;
    max-height: 30px;
  }

  & .hidden {
    display: none;
  }
}

.button {
  border-radius: 5px;
  padding: 4px 10px;
  color: #1d5236;
  border: 2px solid #1d5236;
  cursor: pointer;
  max-height: 30px;
}
