.header {
    height: 70px;
    width: 100vw;
    background-color: #1D5236;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding-inline: 20px;
    overflow: hidden;
    justify-content: space-between;

    & .image-container{
        width: 60px;

        & a{
            height: 60px;
        }
    }

    & .logo{
        height: 10%;
        width: 100%;
    }



    & .title{
        color: #fff
    }
}


