.search-container {
  display: flex;
  width: 290px;
  right: 10.5em;
  height: 90%;
  align-items: center;
  background-color: transparent;

  & .search-body {
    width: 100%;
    position: relative;

    & .search-input {
      border: none;
      background-color: transparent;
      border-radius: 20px;
      font-size: 0.9rem;
      font-weight: 400;
      height: 1.9em;
      width: 10%;
      font-family: inherit;
      float: right;
      color: transparent;
      transition: all 0.3s ease-in-out;

      &::placeholder {
        color: transparent;
      }
    }

    &:focus-within .search-input,
    .search-input:focus {
      padding: 0 3em 0 2.5em;
      background: var(--accentColor);
      border-radius: 50px;
      width: 100%;
      color: white;
      text-decoration: underline;
      border-bottom: none;
      outline: none;
      border: 1px solid hsla(160, 100%, 37%, 1);

      &::placeholder {
        color: white;
      }

      & ~ svg {
        z-index: 2;
        & path {
          fill: white;
        }
      }
    }

    &:focus-within .search-results {
      display: flex;
    }

    & .search-icon {
      position: absolute;
      font-size: 15px;
      right: 0.8em;
      top: 0em;
      transform: translateY(6px);
      z-index: -1;

      & path {
        fill: hsla(160, 100%, 37%, 1);
      }
    }
  }
}

.search-results {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 290px;
  max-height: 430px;
  overflow-y: auto;
  flex-direction: column;
  padding-block: 2px;
  gap: 5px;
  z-index: 200;
  padding: 0px 5px;
  border-radius: 10px;

  background-color: rgba(0, 0, 0, 0.767);
  display: none;

  & span {
    transform: none;
  }

  & .not-found-container {
    box-sizing: border-box;
    position: relative;
    width: 280px;
    min-height: 40px;
    padding: 0 4% 4% 4%;
    border-radius: 10px;
    color: white;
    background: black;
    text-align: center;
    line-height: 40px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    scrollbar-gutter: stable both-edges;
    width: 5px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #00000071;
  }
}

@media only screen and (max-width: 430px) {
  .search-container {
    right: 1.5em;
    width: 382px;
    z-index: 2;
  }
  .search-results {
    position: absolute;
    background-color: black;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 365px;
    max-height: 600px;
    overflow-y: auto;
    flex-direction: column;
    padding-block: 2px;
    gap: 5px;
    display: none;
  }
}
